Q1. How do you comment code in Python? What are the different types of comments?

In python we can add comments to our code to provide explainations for the code which can not be executed with the code. 
Basically there are 2 types of comments:-
1). '#' commment. It is a single line comment.
2). ' """ ' comments. It is a multi line comment.
Below are the examples:-

In [1]:
# this type of comment is used for single line comment.

In [ ]:
"""
This is a multi-line comment in Python.
It spans across multiple lines.
These lines are treated as a string but not assigned to any variable, so they are effectively comments.
"""

Q2. What are variables in Python? How do you declare and assign values to variables?

In python, variables are used to store the data. It is an essential memory locations which holds the data and that variable is used throughout the code/program. Variables are those in which we can assign some values. The values could be of any data types such as integer,float,string etc.
Below is an example for declaring the variables in a python program:-

In [4]:
name = "Ayush"
age = 20
is_studdent = True
pi_value = 3.14

print("Ayush")
print(20)
print(True)
print(3.14)

Ayush
20
True
3.14

Q3. How do you convert one data type to another in Python?

In python we can convert one data type to another using type conversion functions or constructors.
Below are some examples of data type conversion:-

In [5]:
num_str = "42"
num_int = int(num_str)
print(num_int)

42

In [6]:
pi_str = "3.14"
pi_float = float(pi_str)
print(pi_float)

3.14

In [7]:
number = 42
number_str = str(number)
print(number_str)

42

In [8]:
num = 42
bool_value = bool(num)
print(bool_value)

True

Q4. How do you write and execute a Python script from the command line?

Firstly we have to open any text editor where we can write the python script.Then we have to write our python code and rename the file in the .py format. Then open the command line and change the directory where we have coded our python code. And hence we can execute our code.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [2]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are the numbers which consists or we can say which are the combination of real and the imaginary numbers. The imaginary numbers in mathematics are represented by 'i' which is called as iota. 
In python, the imaginary number iota  is defined by 'j'.
Below is the representation of complex number in python:-

In [3]:
#representation of complex number
a = 7+5j

In [6]:
#real number
a.real

7.0

In [7]:
#imaginary number
a.imag

5.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [9]:
age = 25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [10]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [15]:
name = str("Ayush_Vinod_Biyani")
print(name)

Ayush_Vinod_Biyani

Q10. Given the string "Hello, World!", extract the substring "World".

In [18]:
my_string = "Hello, World!"
substring = my_string[7:12]
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [20]:
is_student = True
print(is_student)

True