Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
# Given list of tuples
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sort the list of tuples based on the integer value using a lambda function
sorted_data = sorted(data, key=lambda x: x[1])

# Print the sorted list
for player, runs in sorted_data:
    print(f"{player}: {runs} runs")

Virat Kohli: 24936 runs
Jack Kallis: 25534 runs
Ricky Ponting: 27483 runs
Sachin Tendulkar: 34357 runs

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Given list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use lambda and map to find the squares of all numbers
squares = list(map(lambda x: x**2, numbers))

# Print the result
print("Original List:", numbers)
print("Squares:", squares)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [3]:
# Given list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use lambda and map to convert each integer to a string
string_tuple = tuple(map(lambda x: str(x), numbers))

# Print the result
print("Original List:", numbers)
print("Converted Tuple:", string_tuple)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Converted Tuple: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [4]:
from functools import reduce

# Generate a list of numbers from 1 to 25
numbers = list(range(1, 26))

# Use reduce to compute the product of the list
product = reduce(lambda x, y: x * y, numbers)

# Print the result
print("List of numbers:", numbers)
print("Product:", product)

List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
Product: 15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [5]:
# Given list of numbers
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Use filter and lambda to filter numbers divisible by both 2 and 3
filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

# Print the result
print("Original List:", numbers)
print("Filtered Numbers (divisible by 2 and 3):", filtered_numbers)

Original List: [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
Filtered Numbers (divisible by 2 and 3): [6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [6]:
# Given list of strings
strings = ['python', 'php', 'aba', 'radar', 'level']

# Use filter and lambda to find palindromes
palindromes = list(filter(lambda x: x == x[::-1], strings))

# Print the result
print("Original List:", strings)
print("Palindromes:", palindromes)

Original List: ['python', 'php', 'aba', 'radar', 'level']
Palindromes: ['php', 'aba', 'radar', 'level']